body {
  background-color: rgb(0, 0, 0);
  margin: 0px;
  display: grid;
  height: 400vh; /* Add this line */
  overflow: hidden; /* Add this line */
  place-items: center;
  overflow-y: scroll;
}


#menu {  
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
  position: relative;
  z-index: 2;
}

#menu[data-active-index="0"] > #menu-background-pattern {
  background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
  background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
  background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
  background-position: 0% -100%;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-pattern {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 5%, 
    transparent 9%
  );
  background-position: 0% 0%;
  background-size: 8vmin 8vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, 
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100vw;
  z-index: 1;
}

#menu-background-image {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("images/background.PNG");
  background-position: center 100%;
  background-size: 130vmax;
  height: 100%;
  left: 0px;  
  opacity: 0.5;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease,
    background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 0;
}

#menu-items:hover ~ #menu-background-pattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1; 
}

.menu-item {
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Ibarra Real Nova', serif;
  font-size: clamp(2rem, 6vw, 6rem); /* Make the menu items smaller */
  padding: 0.5rem; /* Adjust padding to shift menu items up */
  text-decoration: none;
  transition: opacity 400ms ease;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
  --border: rgb(3, 169, 244);
  
  --g1: rgb(8, 207, 44);
  --g2: rgb(11, 241, 222);
  --g3: rgb(238, 45, 209);
}

#main-content {
  transform: translateY(0vh);
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.3;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 25vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: linear-gradient(115deg, rgb(8, 207, 44), rgb(11, 241, 222),rgb(238, 45, 209));
  animation: rotate 10s infinite;
  opacity: 0.8;
  filter: blur(10vmax);
  z-index: 10;
  pointer-events: none;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.card {
  aspect-ratio: 1 / 1.6;
  border: 0.5vmin solid var(--border);
  cursor: pointer;
  position: relative;
  width: 56vmin;
}

.card-image {
  background-image: url('images/profile.jpg');
  background-position: bottom 0px right 0px;
  background-repeat: no-repeat;
  background-size: 100% 50%;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 350ms ease;
  width: 100%;
  z-index: 1;
}

.card:hover > .card-image {
  opacity: 1;
  z-index: 2;
}


.card:hover:before {
  background-position: 100% 100%;
  transform: scale(1.08, 1.05);
}

.card:hover > .card-content {
  background-position: -10% -10%;
}

.card:hover > .card-icon {
  color: white; 
}

.card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
}

.card:before {
  background: linear-gradient(
    115deg, 
    transparent 0% 33%, 
    var(--g1) 66%, 
    var(--g2) 83.5%, 
    var(--g3) 100%
  );
  background-position: 0% 0%;
  background-size: 300% 300%;
  content: "";
  height: 100%;
  left: 0px;
  pointer-events: none;
  position: absolute;
  top: 0px;
  transition: background-position 350ms ease, transform 350ms ease;
  width: 100%;
  z-index: 0;
}

.card-content {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 8%, 
    transparent 8%
  );
  background-position: 0% 0%;
  background-size: 5vmin 5vmin;
  height: calc(100% - 10vmin);
  padding: 5vmin;
  position: relative;
  transition: background-position 350ms ease;
  width: calc(100% - 10vmin);
  z-index: 2;
  text-align: center;
}

.card-title,
.card-subtitle {
  color: white;
  font-family: "Inconsolata", Inconsolata;
  font-weight: normal; 
  margin: 0px;
}

.card-title {
  font-size: 6vmin;
}

.card-subtitle {
  font-size: 3vmin;
  margin-top: 2vmin;
}

.card-subtitle-word {
  display: inline-block;
  margin: 0vmin 0.3vmin;
  opacity: 0;
  position: relative;  
  transform: translateY(40%);
  transition: none;
}

.card-icon {
  bottom: 0px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 7vmin;
  left: 0px;
  margin: 5vmin;
  position: absolute;
  transition: color 250ms ease;
  z-index: 2;
}

.content-container {
  height: 400vh;
  overflow-y: scroll;
}


#experiences {
  position: absolute;
  top: 200vh; /* Position at the start of third page */
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; /* Make the text visible on the black background */
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.section-content {
  width: 50%;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.experience-image {
  width: 300px;
  height: auto;
}
